
li {
  list-style: none;
}
header {
  background-color: rgb(221, 206, 185);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.active .nav__link {
  color: rgb(163, 192, 192);
}

.header-top {
  padding: 2rem 0 0 0;
}

.header-bottom {
  padding: 4rem 0 4rem 0;
}

.nav__avatar {
  border-radius: 50%;
  width: 100%;
}

.nav__circle {
  background-color: red;
  border-radius: 50%;
  width: 20rem;
  height: 10rem;
  position: relative;
  padding: 0 1rem 0 0;
}

.nav__circle1 {
  background-color: cyan;
  border-radius: 50%;
  width: 20rem;
  height: 10rem;
  position: relative;
  padding: 0 1rem 0 0;
}

.nav__circle2 {
  background-color: goldenrod;
  border-radius: 50%;
  width: 20rem;
  height: 10rem;
  position: relative;
  padding: 0 1rem 0 0;
}

.nav__circle-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%,-40%);
  width: 100%;
  font-size: 15px;
}

footer {
  background-color: red;
}

.footer__title {
  color: #ffffff;
  font-size: 25px;
}

.footer__content {
  color: #ffffff;
}

svg {
  color: aqua;
  width: 40px;
  height: 40px;
}

.footer__info {
  padding: 2rem 0 0 0;
}
